<!DOCTYPE HTML>
<html>
	<head>
		<title>Web Portal</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		 <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" /> 
		<link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css"  media="screen,projection"/>

	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html"><span></span></a></div>
				<a href="#menu"></a>
			</header>

		<!-- Nav -->
			<!-- <nav id="menu">
				<ul class="links">
					<li><a href="main.html">Home</a></li>
					<li><a href="#issues">About</a></li> 
					<li><a href="team.html">Login</a></li>          
					<li><a href="message.html">Contact Us</a></li>   
				</ul>
			</nav> -->
                                       
		<!-- Banner -->
			<section class="banner full">                 
				<article>
					<img src="/images/yoga.jpeg" alt="Yoga">
					<div class="inner">
						<header>
							<p>Team Mikasa presents</p>
							<h2>Vibe Fit </h2>
						</header>
						<span id = "btn1">
						<a class="waves-effect waves-light btn" href="register"> Register </a></span>
                        <span id="btn2">				
						<a class="waves-effect waves-light btn" href="login">Login</a></span>
					</div>		

					</div>
				</article>
			</section>

		<!-- One -->
		<section>
			       <div>
					<h1 class = "section1"> About </h1>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga culpa laborum tempore exercitationem error rem! Molestias perspiciatis, deleniti dicta voluptate consectetur ullam blanditiis quo eius dolorum! Ipsam, libero? Dolor, quo?</p>			
								
			         </div>
						<div>
							<h1 class = "section1"> Contact Us </h1>
						</div>
					
						
			</section>

		<!-- Two -->
		
		<!-- Three -->
			


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/avataran.igdtuw/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="avataran.igdtuw@gmail.com/" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved with Templated.
				</div>


<img src="http://hitwebcounter.com/counter/counter.php?page=7032304&style=0025&nbdigits=4&type=page&initCount=0" title="www.hitwebcounter.com"    border="0" >
                                   <br/>
                                        
                            
                            
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>