<!DOCTYPE HTML>
<html>
	<head>
		<title>Web Portal</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		 <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" /> 
		 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
		<link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css"  media="screen,projection"/>

	</head>
	<body>

		<!-- Header
			<header id="header" class="alt">
				<div class="logo"><a href="index.html"><span></span></a></div>
				<a href="#menu"></a>
			</header> -->
                                       
		<!-- Banner -->
			<section class="banner full">                 
				<article>
					<img src="/images/yoga.jpeg" alt="Yoga">
					<div class="inner">
						<header>
							<p>Team Mikasa presents</p>
							<h2>Vibe Fit </h2>
						</header>
						<span id = "btn1">
						<a class="waves-effect waves-light btn" href="register"> Register </a></span>
                        <span id="btn2">				
						<a class="waves-effect waves-light btn" href="login">Login</a></span>
					</div>		

					</div>
				</article>
			</section>

		<!-- One -->
		<section>
			       <div>
					<h1 class = "section1"> About </h1>
					<p id="about"> VibeFit is a profile-based mobile app cum web
						 portal life expectancy predicting system. 
						It focuses on improving the general health of a user by focusing on their lifetyle though   
						The portal displays cummulative zone wise data on the general health and
						 the health problems faced by people. </p>	
						</div>	
					</section>

          <div class="sliding">
					<section class="page-wrapper" id="coidea">

						<div class="slider">
							
							<ul class="slider-list">
								
								<li class="slider-list__item slider-list__item_active">
									<!-- <span class="back__element">
										<img src="images/back_apple_002.png" />
									</span> -->
									<span class="main__element">
										<img src="images/donut.png" />
									</span>
									<!-- <span class="front__element">
										<img src="images/front_apple_002.png" />
									</span> -->
									<span class="title__element">
										<span class="title">Food</span>
									</span>
									<span class="more__element">
										<span class="content">
											<span class="headline">Calorie Intake</span>
											<span class="excerpt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo ratione nisi perferendis? Nemo in accusamus cupiditate officiis.</span>
											<span class="link">
												<div class="fill"></div>
												<a href="#">Enter your calories!</a>
											</span>
										</span>
									</span>
								 </li>
			
								<li class="slider-list__item">
									<!-- <span class="back__element">
										<img src="images/sleep.jpg" />
									</span> -->
									<span class="main__element">
										<img src="images/sleep.jpg" />
									</span>
									<!-- <span class="front__element">
										<img src="images/front_grapes_001.png" />
									</span> -->
									<span class="title__element">
										<span class="title"> Sleep </span>
									</span>
									<span class="more__element">
										<span class="content">
											<span class="headline">Sleep Cycle</span>
											<span class="excerpt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo ratione nisi perferendis? Nemo in accusamus cupiditate officiis.</span>
											<span class="link">
												<div class="fill fill-dark"></div>
												<a href="#">Enter your sleep hours!</a>
											</span>
										</span>
									</span>
								 </li>
			
								 <li class="slider-list__item">
									<!-- <span class="back__element">
										<img src="images/back_strawberry_003.png" />
									</span> -->
									<span class="main__element">
										<img src="images/weight.jpg" />
									</span>
									<!-- <span class="front__element">
										<img src="images/front_strawberry_003.png" />
									</span> -->
									<span class="title__element">
										<span class="title">Weight</span>
									</span>
									<span class="more__element">
										<span class="content">
											<span class="headline">Manage your weight!</span>
											<span class="excerpt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo ratione nisi perferendis? Nemo in accusamus cupiditate officiis.</span>
											<span class="link">
													<div class="fill"></div>
												<a href="#">Open catalog</a>
											</span>
										</span>
									</span>
								 </li>

								 <li class="slider-list__item">
									<!-- <span class="back__element">
										<img src="images/back_strawberry_003.png" />
									</span> -->
									<span class="main__element">
										<img src="images/donut.png" />
									</span>
									<span class="front__element">
										<img src="images/donut.png" />
									</span>
									<span class="title__element">
										<span class="title">strawberry</span>
									</span>
									<span class="more__element">
										<span class="content">
											<span class="headline">strawberry</span>
											<span class="excerpt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo ratione nisi perferendis? Nemo in accusamus cupiditate officiis.</span>
											<span class="link">
													<div class="fill"></div>
												<a href="#">Open catalog</a>
											</span>
										</span>
									</span>
								 </li>

								 <li class="slider-list__item">
									<span class="back__element">
										<img src="images/back_strawberry_003.png" />
									</span>
									<span class="main__element">
										<img src="images/bottle_strawberry_003.png" />
									</span>
									<span class="front__element">
										<img src="images/front_strawberry_003.png" />
									</span>
									<span class="title__element">
										<span class="title">strawberry</span>
									</span>
									<span class="more__element">
										<span class="content">
											<span class="headline">strawberry</span>
											<span class="excerpt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo ratione nisi perferendis? Nemo in accusamus cupiditate officiis.</span>
											<span class="link">
													<div class="fill"></div>
												<a href="#">Open catalog</a>
											</span>
										</span>
									</span>
								 </li>

								 <li class="slider-list__item">
									<span class="back__element">
										<img src="images/back_strawberry_003.png" />
									</span>
									<span class="main__element">
										<img src="images/bottle_strawberry_003.png" />
									</span>
									<span class="front__element">
										<img src="images/front_strawberry_003.png" />
									</span>
									<span class="title__element">
										<span class="title">strawberry</span>
									</span>
									<span class="more__element">
										<span class="content">
											<span class="headline">strawberry</span>
											<span class="excerpt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo ratione nisi perferendis? Nemo in accusamus cupiditate officiis.</span>
											<span class="link">
													<div class="fill"></div>
												<a href="#">Open catalog</a>
											</span>
										</span>
									</span>
								 </li>
								 
							</ul>
							
							<div class="slider__nav-bar">
								<a class="nav-control "></a>
								<a class="nav-control "></a>
								<a class="nav-control "></a>
								<a class="nav-control "></a>
								<a class="nav-control "></a>
								<a class="nav-control "></a>
							</div>
							
							<div class="slider__controls">
								<a class="slider__arrow slider__arrow_prev"></a>
								<a class="slider__arrow slider__arrow_next"></a>
							</div>
			
						</div>   
					</div>   
			
					</section>

		

<div class="tiles">
	<div class="services-section">
		<div class="inner-width">
			<h1 class="section-title">Our Services</h1>
			<div class="border"></div>
			<div class="services-container">
			 <div class="service-box">
					<div class="service-icon">
						<i class="fas fa-paint-brush"></i>
					</div>
					<div class="service-title">Web Designs</div>
					<div class="service-desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
					</div>
				</div>

				<div class="service-box">
					<div class="service-icon">
						<i class="fas fa-code"></i>
					</div>
					<div class="service-title">Web Development</div>
					<div class="service-desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
					</div>
				</div>

				<div class="service-box">
					<div class="service-icon">
						<i class="fas fa-brush"></i>
					</div>
					<div class="service-title">Responsive Designs</div>
					<div class="service-desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
					</div>
				</div>

				<div class="service-box">
					<div class="service-icon">
						<i class="fas fa-object-ungroup"></i>
					</div>
					<div class="service-title">Edit Sections</div>
					<div class="service-desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
					</div>
				</div>

				<div class="service-box">
					<div class="service-icon">
						<i class="fas fa-database"></i>
					</div>
					<div class="service-title">Databases</div>
					<div class="service-desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
					</div>
				</div>

				<div class="service-box">
					<div class="service-icon">
						<i class="fab fa-android"></i>
					</div>
					<div class="service-title">Android</div>
					<div class="service-desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
					</div>
					<div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
	</div>
</div>

    
	


		  <!-- use -- code for code icon, brush for brush icon, brush, object-ungroup, database,android -->

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; VibeFit | All rights reserved with Mikasa.
				</div>


<img src="http://hitwebcounter.com/counter/counter.php?page=7032304&style=0025&nbdigits=4&type=page&initCount=0" title="www.hitwebcounter.com"    border="0" >
                                   <br/>
                                        
                            
                            
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>


	</body>
</html>